*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #434343;
}

.form-container{
    width: 100%;
    max-width: fit-content;
    margin: 40px auto;
    padding: 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: rgb(235, 235, 235) ;
}

.userForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-field{
    all: none;
    width: 400px;
    border: 3px solid gray;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
}
input:focus{
    outline:none;
}

.focus{
    outline: 2px solid greenyellow;    
}
.input-container .success{
    border-color: #09c372;
}
.input-container .error{
    border-color: #ff3860;
}
.input-container .error-message{
    color: #ff3860;
    font-size: 14px;
}
input[type=checkbox]{
    color: white;
}

input[type=checkbox]:checked{
    accent-color: dodgerblue;
}

.btns{
    display: flex;
    justify-content: space-between;
}
.btn{
    width: fit-content;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: dodgerblue;
}
.btn:hover{
    background-color: rgb(38, 74, 234)
}

.non-text-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.select-list{
    width: 100%;
    padding: 7px 15px;
    margin-top: 10px;
    border: 3px solid gray;
    border-radius: 5px;
}
.select-list:focus{
    outline: none;
}

.loader-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 0.452);
    display: none;
}

.loader {
    position: fixed; 
    top: 50%;
    left: 50%;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: dodgerblue;
    animation: l2 1s infinite linear;
    transform: translate(-50%, -50%); 
}

@keyframes l2 {
    to {
        transform: translate(-50%, -50%) rotate(1turn); 
    }
}
